
body {
    background-color: snow;
}
#current {
    color: steelblue;
}
#testcase {
    font: "Arial";
    margin-top: .5cm;
    color: gray;
}
#ending {
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}
#nomore {
    margin-top: 1.75cm;
}
p {
    border: 2px solid gray;
    border-radius: 9px;
    font-size: 15px;
    color: gray;
}
h1 {
    margin-bottom: .5cm;
    color: gray;
}