h1 {
    font: "Arial";
    color: whitesmoke;
}
.linkstoothers {
    color: black;
    font: "Arial";
    align-items: center;
}
body {
    background-color: snow;
}
.jumbotron {
  margin-top: .5cm;
  display: flex;
  align-items: center;
  background-color: snow;
  background-size: 500px 500px;
  color: black;
  height: 500px;
  text-shadow: 0.25px 0.25px 0.25px #000000;
  border: 5px solid black;
}
#nomore {
    color: black;
    margin-top: .25cm;
}
#current {
    color: #24B9E9;
}
#ending{
    border: 1px solid black;
    border-radius: 3px;
    position: fixed;
    bottom: 0px;
    left: 0px;
    right: 0px;
    margin-bottom: 0px;
}